:root {
  --primary-fg: #ffffff;
  --secondary-fg: #6ba397;
  --primary-bg: #212827;
  --secondary-bg: #273b37;
  --accent-bg: #394a46;
  --error: #c20000;
  --selected-bg: #4a6b61;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spline Sans Mono", monospace;
}

html {
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--primary-bg);
  color: var(--primary-fg);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--primary-bg);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
